Repository Quanyails/CALC: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --ext=.ts,.tsx --fix --max-warnings=0

Install react-router.
  package-lock.json
  package.json
  src/App.tsx
Due: npx prettier --write, npx eslint --ext=.ts,.tsx --fix --max-warnings=0

Port CALC to React.
  CALC/CALC.js
  CALC/index.html
  src/App.tsx
  src/features/calc/CalcPage.tsx
  src/features/calc/util.ts
  src/util/fileReader.ts
  src/util/img.ts
Due: npx prettier --write, npx eslint --ext=.ts,.tsx --fix --max-warnings=0

Port QED to React.
  QED/QED.js
  QED/index.html
  package-lock.json
  package.json
  src/App.tsx
  src/features/qed/QedPage.tsx
  src/features/qed/difference.ts
  src/features/qed/dotProduct.ts
  src/features/qed/matrix.ts
  src/features/qed/methods.ts
  src/features/qed/simple.ts
  src/features/qed/sobel.ts
Due: npx prettier --write, npx eslint --ext=.ts,.tsx --fix --max-warnings=0

Delete old code.
  index.html
Due: none

Updates
  asset-manifest.json
  index.html
  static/js/main.af4e88e7.js
  static/js/main.af4e88e7.js.map
  static/js/main.eba4a6bc.js
  static/js/main.eba4a6bc.js.LICENSE.txt
  static/js/main.eba4a6bc.js.map
Due: none

Add CONTRIBUTING.md.
  .github/CONTRIBUTING.md
Due: none

Add initial documentation.
  README.md
Due: none

TODO: Implement movepool builder.
  src/features/mobil/MobilPage.tsx
  src/features/mobil/util.ts
Due: npx prettier --write, npx eslint --ext=.ts,.tsx --fix --max-warnings=0

Refresh package.json.
  package-lock.json
  package.json
Due: npx prettier --write

Updates
  asset-manifest.json
  index.html
  static/css/main.143dc734.css
  static/css/main.143dc734.css.map
  static/css/main.3aac3402.css
  static/css/main.3aac3402.css.map
  static/js/main.1d835430.js
  static/js/main.1d835430.js.LICENSE.txt
  static/js/main.1d835430.js.map
  static/js/main.eba4a6bc.js
  static/js/main.eba4a6bc.js.map
Due: none

Updates
  asset-manifest.json
  index.html
  static/js/main.1d835430.js
  static/js/main.1d835430.js.map
  static/js/main.d67704d3.js
  static/js/main.d67704d3.js.LICENSE.txt
  static/js/main.d67704d3.js.map
Due: none

Extract image processing helper functions.
  src/features/qed/difference.ts
  src/features/qed/dotProduct.ts
  src/features/qed/matrix.ts
  src/features/qed/simple.ts
  src/features/qed/sobel.ts
  src/image_processing/convolutions.ts
  src/image_processing/difference.ts
  src/image_processing/dotProduct.ts
  src/image_processing/rgba.ts
  src/image_processing/rgbaView.ts
  src/util/linearScale.ts
Due: npx prettier --write, npx eslint --ext=.ts,.tsx --fix --max-warnings=0

Make canvas component reusable.
  .eslintrc.js
  src/components/Canvas.tsx
  src/features/calc/CalcPage.tsx
  src/features/qed/QedPage.tsx
  src/features/qed/difference.ts
  src/features/qed/dotProduct.ts
  src/features/qed/methods.ts
  src/features/qed/simple.ts
  src/features/qed/sobel.ts
Due: npx prettier --write, npx eslint --ext=.ts,.tsx --fix --max-warnings=0

Updates
  asset-manifest.json
  index.html
  static/js/main.d3ecdc0f.js
  static/js/main.d3ecdc0f.js.LICENSE.txt
  static/js/main.d3ecdc0f.js.map
  static/js/main.d67704d3.js
  static/js/main.d67704d3.js.map
Due: none

Path conditions:
  npx prettier --write: (((any of: .eslintrc.js) or (any of: .lintstagedrc.json)) or (any of: package.json)) or (any of: src/**/*.{js,jsx,ts,tsx,json,css,scss,md})
  npx eslint --ext=.ts,.tsx --fix --max-warnings=0: any of: src/**/*.{ts,tsx}
